<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>房屋产权注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets//plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/assets/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/layouts/layout3/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" /> </head>
<style type="text/css">
    #register_form{
        /*width: 800px;*/
        display: block;
        /*padding-left: 20px;*/
    }
    .home-logo{
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 24px;
        color: #34495e;
        line-height: 75px;
    }
    .home-logo:hover{
        text-decoration : none;
    }


</style>
<!-- END HEAD -->

<body class="page-container-bg-solid page-boxed page-md">
<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="#" class="home-logo">
                    <!--<img style="width:300px" src="../assets/images/acclogom.png" alt="logo" >-->
                    房屋产权
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN TODO DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-tasks dropdown-dark" id="header_task_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-calendar"></i>
                            <span class="badge badge-default">3</span>
                        </a>
                        <ul class="dropdown-menu extended tasks">
                            <li class="external">
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END TODO DROPDOWN -->
                    <li class="droddown dropdown-separator">
                        <span class="separator"></span>
                    </li>
                    <!-- BEGIN INBOX DROPDOWN -->
                    <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="circle">3</span>
                            <span class="corner"></span>
                        </a>
                    </li>
                    <!-- END INBOX DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="../assets/img/avatar.jpg">
                            <span class="username username-hide-mobile">zhangsan</span>
                        </a>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <li class="dropdown dropdown-extended quick-sidebar-toggler">
                        <span class="sr-only">Toggle Quick Sidebar</span>
                        <i class="icon-logout"></i>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container">
            <!-- BEGIN HEADER SEARCH BOX -->
            <form class="search-form" action="" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                    <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                </div>
            </form>
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN MEGA MENU -->
            <div class="hor-menu  ">
                <ul class="nav navbar-nav">
                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;"> Dashboard
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Dashboard
                        <small></small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="#">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>

                    <li>
                        <span>Demo</span>
                    </li>
                </ul>
                <!-- END PAGE BREADCRUMBS -->
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="note note-success">
                                <p> </p>
                            </div>
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet light">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-social-dribbble font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Accenture 房屋产权</span>
                                    </div>
                                </div>
                                <div class="form row homeRegister_content">
                                    <form class="form-horizontal col-sm-offset-4 col-md-offset-4" id="register_form">
                                        <h3 class="form-title">房屋产权注册</h3>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">

                                                <label>用户名/房主姓名</label>
                                                <input class="form-control required" type="text" id="username" placeholder="请输入姓名" name="username" autofocus="autofocus" maxlength="15"/>
                                            </div>
                                            <div class="form-group">

                                                <label>身份证号</label>
                                                <input class="form-control required" type="text" id="idnumber" placeholder="请输入身份证号" name="idnumber" autofocus="autofocus" maxlength="18"/>
                                            </div>
                                            <div class="form-group">

                                                <label>房产证号</label>
                                                <input class="form-control required" type="text" id="houseid" placeholder="请输入房产证号" name="houseid" autofocus="autofocus" maxlength="15"/>
                                            </div>
                                            <div class="form-group">

                                                <label>联系电话</label>
                                                <input class="form-control required" type="text" id="contactnumber" placeholder="请输入联系电话" name="contactnumber" autofocus="autofocus" maxlength="15"/>
                                            </div>
                                            <div class="form-group">
                                                <input type="button" class="btn btn-success pull-left" id = "register" value="注册"/>
                                                <input type="button" class="btn btn-info pull-left" id="cancel" value="取消" style="margin-left: 12px; "/>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <!-- END SAMPLE TABLE PORTLET-->

                            </div>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
            <!-- END PAGE CONTENT BODY -->
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
    <div class="page-footer">
        <div class="container"> 2017 &copy; Accenture.
        </div>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
    <!-- END FOOTER -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
         $(function(){ 
    $("#register").click(function(){
     alert("注册成功");
     var username=$("#username").val();
     var idnumber =$('#idnumber').val();
     var contactnumber = $('#contactnumber').val();
     var houseid = $('#houseid').val();
     var house = {username:username,idnumber:idnumber,contactnumber:contactnumber,houseid:houseid};
     $.ajax({
       url:"/register1",
       data:JSON.stringify(house),
       type: "POST",
       contentType:"application/json",
       success:function(data,status){
        if(status == 'success'){
          alert("成功");

         }
       },
       error:function(data,err){
         if(status == 'error'){
          alert("出错:"+err);
         }
       }
   }); 
});
     $('#cancel').click(function(){
       $("#userName").val("");
       $('#idNumber').val("");
       $('#contactNumber').val("");
       $('#houseId').val("");
       $('#setPassword').val("");
       $('#confirmPassword').val("");  
     });
    
   });
    </script>
</body>
</html>
